body {
    background-color: #d4d8f0;
    font-family: 'Quicksand', sans-serif;
}

.container {
    text-align: center;
}

.container > h1 {
    color: #232946;
}

.container > p {
    color: #232946;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.right-column {
    margin-left: auto;
    margin-right: auto;
}

.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 300px;
bottom: 100%;
left: 50%;
margin-left: -150px;
background-color: #eebbc3;
color: #232946;
text-align: center;
padding: 5px 0;
border-radius: 12px;

position: absolute;
z-index: 1;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

#tag-box {
    border: 1px solid#232946;
    font-family: 'Quicksand', sans-serif;
    border-radius: 12px;
}

#submission-field {
    width: 500px;
    height: 390px;
    border: 1px solid #232946;
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 12px;
}

#note {
    width: 400px;
    border: 1px solid #232946;
    padding: 5px;
    margin: 10px;
    border-radius: 12px;
    background-color: #fffffe;
}

#filter-button-not-clicked {
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    border-radius: 12px;
    background-color: #eebbc3;
}

#filter-button-clicked {
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    border-radius: 12px;
    background-color: #232946;
    color: white;
}

#regular-button {
    margin: 5px;
    background-color: #eebbc3;
    color: #232946;
    font-family: 'Quicksand', sans-serif;
    border-radius: 12px;
    padding: 10px;
}

#tag:hover {
    background-color: #eebbc3;
}